@use "tailwindcss";

@theme {
  --color-purpleDark: #1e0e38;
  --color-purple: #1e0d36;
  --color-brand-pink: #db2777;
  --color-brand-dark: #0a0118;
  --color-brand-card: rgba(255, 255, 255, 0.05);
  --color-brand-purple: #1e0d36;
  --background-image-grid-pattern: linear-gradient(to right, #1e1b4b 1px, transparent 1px), linear-gradient(to bottom, #1e1b4b 1px, transparent 1px);
}

// Importing fonts
@font-face {
  font-family: "Archivo";
  src: url("../../public/fonts/static/Archivo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo-Bold";
  src: url("../../public/fonts/static/Archivo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Corinthia";
  src: url("../../public/fonts/Corinthia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Corinthia-Bold";
  src: url("../../public/fonts/Corinthia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

// Variables fonts
$font-regular: "Archivo", sans-serif;
$font-regular-bold: "Archivo-Bold", sans-serif;
$font-decorative: "Corinthia", cursive;
$font-decorative-bold: "Corinthia-Bold", cursive;


body {

  @media screen {
    @media (max-width: 640px) {
    }
  }
}

header {
  margin-left: 8.3333%;
}

